.hero-dashboard {
  width: 100%;
  height: 3.6rem;
  background-color: #276239;
  padding-top: 82px;
  position: fixed;
  z-index: 1;
}

.navbar {
  margin-top: 15px;
  position: fixed;
  height: 10px;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content:space-between;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background: rgba(255, 255, 255, 0.283); /* transparent white */
  backdrop-filter: blur(8px); /* glass effect */
  z-index: 9999;
}

.main-navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.view-pill {
    padding: 4px 10px;
    font-weight: 500;
    border-radius: 16px;
    font-size: 0.8rem;
    color: #276239; 
    background-color: #eaf3ed; 
}

.main-navbar-right {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 60px;
}

.action-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    height: 9px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none; 
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.action-button.secondary {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.action-button.secondary , .action-button.primary   {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.action-button span {
    font-size: 1.2rem;
    line-height: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: none;
  background: none;
  text-align: center;
  color: #333;
  cursor: pointer;
  font-size: 0.95rem;
  font-family:'Times New Roman', Times, serif;

}

.main-content {
  padding-top: 130px;
}
